@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
}

.header {
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content:center
}

.main__sort {
  display: flex;
  justify-content: center;
}

.sort__title {
  margin-right: 15px;
}

.select__item {
  margin-right: 15px;
}

.content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 48px;
}

.content__card {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media(min-width: 488px) {
  .content {
    grid-template-columns: repeat(2, 200px);
  }
}

@media(min-width: 768px) {
  .content {
    grid-template-columns: repeat(3, 200px);
  }
}

@media(min-width: 1024px) {
  .content {
    grid-template-columns: repeat(4, 200px);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}